$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.blog-header {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @media only screen and (max-width: $sm){
        font-size: 3rem;
    }
    @media only screen and (min-width: $sm){
        font-size: 72px;
        line-height: 72px;
    }
    @media only screen and (min-width: $lg){
        line-height: 53px;
    }
    
}

.blog-header--2 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.1em;
    margin-top: 3rem;
    text-transform: uppercase;
}

u:hover {
    color: rgba(0,0,0,0.5);
    transition: ease 0.25s;
}

.blog-header--3 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;

    text-transform: uppercase;
    margin-bottom: 1rem;
}

.blog-header--greetings0 {
    font-family: "Oswald";
    font-size: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.blog-header--greetings1 {
    font-family: "Oswald";
    font-size: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.blog-header--greetings2 {
    text-align: left;
    font-size: 24px;
    font-style: normal;
}

.blog-header--greetings3 {
    text-align: left;
    font-size: 24px;
    font-style: normal;
}

.blog-header-mb {
    margin-bottom: 3rem;
    @media only screen and (min-width: $lg){
        margin-bottom: 7rem;
    }
}

.blog-header--margin {
    margin-top: 4rem;
    @media only screen and (min-width: $md){
        margin-top: 8rem;
    }
}

.blog-leader--first {
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 25px;
            width: 98%;
            height: 1px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 25px;
            width: 141%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            left: -250px;
        }
    }
}

.blog-header--title {
    position: relative;
    background: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: -1.5rem;
    line-height: 72px
}

.header-mb__foods {
    margin-bottom: 2rem;
}

.header-mb__foods-2 {
    margin-bottom: 3rem;
}

.col-blog {
    @media only screen and (min-width: $lg){
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        max-width: 22%;
        padding: 0 15px;
    }
}

.col-blog--main {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    @media only screen and (min-width:$lg){
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.blog-tagline {
    opacity: 0.7;
}

.blog-main {
    line-height: 2rem;
    letter-spacing: 0.01rem;
    @media only screen and (min-width:$lg){
        border-right: 1px solid rgba(0,0,0,0.2);
        padding-right: 5rem;
        font-size: 1.25rem;
        letter-spacing: 0.05rem;
    }
}

.blog-main2 {
    line-height: 2rem;
    letter-spacing: 0.01rem;
    @media only screen and (min-width:$lg){
        padding-right: 5rem;
        font-size: 1.25rem;
        letter-spacing: 0.05rem;
    }
}

.drop-cap::first-letter {
    float: left;
    font-size: 3.375rem;
    line-height: 3.375rem;
    margin-bottom: -0.5rem;
    padding-right: 0.375rem;
  }

.blog-sidebar {
    padding-left: 2rem;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: rgba(0,0,0,0.8);
    @media only screen and (max-width: $lg){
        display: none;
    }
}

.blog-sidebar__list {
    margin-bottom: 1rem;
}

.blog-box {
    transition: box-shadow .3s;
    border-radius:10px;
    background: #fff;
    padding: 8px 16px;
    margin-left: -16px;
}

.blog-box:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.blog-p {
    margin-bottom: 3rem;
    @media only screen and (min-width: $lg){
        margin-bottom: 4rem;
    }
}

.blog-cap {
    font-size: 12px;
    line-height: 6px;
}

