
.container {
    max-width: 1200px;
}

body, nav {
    font-family: "Lato", sans-serif;
}


ul {
    list-style: none;
}

h1, h2, h3 {
    font-size: 1rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}
