@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.container {
    max-width: 1200px;
}

body, nav {
    font-family: "Lato", sans-serif;
    color: rgba(0,0,0,0.8);
}


ul {
    list-style: none;
}

h1, h2, h3, h4 {
    font-size: 1rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

