@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo-Bold.ttf');
}

@font-face {
    font-family: 'Poppins medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins light';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Noto serif';
    src: url('../fonts/NotoSerifKR-Regular.otf');
}

@font-face {
    font-family: 'Noto sans';
    src: url('../fonts/NotoSansKR-Black.otf');
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.container {
    max-width: 1200px;
    @media only screen and (min-width:$lg){
        max-width: 950px;
    }
    @media only screen and (min-width:$xl){
        max-width: 1200px;
    }
}

body, span {
    font-family: 'Noto serif';
    font-size: 16px;
}

main a {
    color: black;
}

main a:hover {
    color: black;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    text-decoration: none;
}

h3 {
    font-family: 'GT Eesti Display-Regular';
}

#content a {
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}


