$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.c1 {
  position: absolute;
  left: 650px;
  top: 40px;
}

.c2 {
  position: absolute;
  left: 650px;
  top: 260px;
}

.c3 {
  z-index: -1;
  position: absolute;
  left: 810px;
  top: 260px;
}

.c4 {
  z-index: -1;
  position: absolute;
  left: 770px;
  top: 375px;
}

.f1 {
    position: absolute;
    left: 100px;
    top: 150px;
}

.f2 {
    position: absolute;
    left: 200px;
    top: 250px;
  
}

.f3 {
    position: absolute;
    left: 100px;
    top: 300px;
}

.f4 {
    position: absolute;
    left: 200px;
    top: 400px;
}

.f5 {
    position: absolute;
    left: 150px;
    top: 500px;
}

.f6 {
    position: absolute;
    left: 1100px;
    top: 40px;
}

.f7 {
  position: absolute;
  left: 975px;
  top: 220px;
}

.f8 {
    position: absolute;
    left: 950px;
    top: 350px;
}

.f9 {
    position: absolute;
    left: 1075px;
    top: 180px;
}

.f10 {
    position: absolute;
    left: 920px;
    top: 100px;
}


.rotate {
	-webkit-animation: rotate 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.rotate-opp {
	-webkit-animation: rotate-opp 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-opp 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes rotate-opp {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 1;
    }
  }
@keyframes rotate-opp {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
}

.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}


