$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.c1 {
  position: absolute;
  width: 154.59px;
  height: 139.95px;
  left: 5vw;
  top: 75px;
  @media only screen and (min-width:$md){
    width: 278.37px;
    height: 252px;
    left: 15vw;
    top: 100px;
  }
}

.c2 {
  position: absolute;
  width: 99.67px;
  height: 99.67px;
  left: 70vw;
  top: 200px;
  @media only screen and (min-width:$md){
    width: 179.47px;
    height: 179.47px;
    top: 260px;
  }
}

.c3 {
  position: absolute;
  width: 52px;
  height: 51px;
  left: 10vw;
  top: 200px;
  @media only screen and (min-width:$md){
    width: 92px;
    height: 92px;
    left: 25vw;
    top: 300px;
  }
}

.c4 {
  position: absolute;
  width: 90.11px;
  height: 90.11px;
  left: 60vw;
  top: 250px;
  @media only screen and (min-width:$md){
    width: 162.26px;
    height: 162.26px;
    left: 68vw;
    top: 375px;
  }
}

.f1 {
    position: absolute;
    top: 150px;
    left: 18vw;
    @media only screen and (min-width:$md){
      left: 25vw;
    }
}

.f2 {
    position: absolute;
    top: 400px;
    left: 75vw;
    @media only screen and (min-width:$md){
      top: 250px;
    }
  
}

.f3 {
    position: absolute;
    top: 300px;
    left: 10vw;
}

.f4 {
    position: absolute;
    top: 400px;
    left: 15vw;
    @media only screen and (min-width:$md){
      left: 18vw;
    }
}

.f6 {
  position: absolute;
  left: 80vw;
  top: 100px;
}

.f7 {
  display: none;
  @media only screen and (min-width: $xl){
    display: block;
    position: absolute;
    left: 65vw;
    top: 220px;
  }
}

.f8 {
  display: none;
  @media only screen and (min-width: $xl){
    display: block;
    position: absolute;
    left: 85vw;
    top: 350px;
  }
}

.f9 {
  display: none;
  @media only screen and (min-width: $xl){
    display: block;
    position: absolute;
    left: 7vw;
    top: 180px;
  }
}

.f10 {
  @media only screen and (min-width: $xl){
    display: block;
    position: absolute;
    left: 920px;
    top: 9vw;
  }
}


.rotate {
	-webkit-animation: rotate 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.rotate-opp {
	-webkit-animation: rotate-opp 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-opp 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes rotate-opp {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 1;
    }
  }
@keyframes rotate-opp {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
}

.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}


