$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.footer-bg {
    background: #FBF5EB;
    width: 100%;
    border-top: 2px solid #E9796F;
    @media only screen and (min-width: $lg){
        margin-top: 6rem;
    }
}

.ham-bg {
    z-index: -1;
    background: #FBF5EB;
    display: none;
    height: auto;
}

.ham-is-active {
    display: block;
    -webkit-animation: nav-slide 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: nav-slide 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#js-navbar-toggle {
    @media only screen and (min-width: $xl){
        display: none;
    }
}

.main-hide {
    display: none;
}


.footer-color {
    color: #0C1C66;
}

.footer-top {
    margin-top: 2rem;
    @media only screen and (min-width:$md){
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

.footer-title {
    font-family: "Arvo";
    font-size: 24px;
    display: flex;
    align-items: flex-end;
}

.footer-link {
    color: #0C1C66;
    text-decoration: underline;
}

.footer-link--ham {
    @media only screen and (min-width: $lg){
        padding-top: .75rem;
    }

}

.footer-font {
    font-family: "Noto serif";
}

.footer-category {
    font-family: "Poppins light";
    margin-bottom: 1rem;
    @media only screen and (max-width:$sm){
        margin-top: 2rem;
    }
}

.footer-category--ham {
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-bottom: 1rem;
    margin-top: 3rem;
    @media only screen and (max-width:$md){
        margin-top: 6rem;
    }
}

.footer-bottom {
    margin-bottom: 4rem;
    margin-top: 2rem;
    @media only screen and (min-width: $md){
        margin-top: 0;
    }
}


@-webkit-keyframes nav-slide {
    0% {
      -webkit-transform: translateY(-250px);
              transform: translateY(-250px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes nav-slide {
    0% {
      -webkit-transform: translateY(-250px);
              transform: translateY(-250px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }