
.fest-image {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    margin-top: 7rem;
    position: relative;
}

.food-image--drink {
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    margin-top: 5rem;
    position: relative;
}

.food-image--food {
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
    margin-top: 4rem;
    position: relative;
}

.table-image {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 5rem;
    position: relative;
}