$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.fest-margin {
    @media only screen and (min-width: $md){
        margin-top: 3rem;
    }
    @media only screen and (min-width: $lg){
        margin-top: 7rem;
    }
}

.misc-margin {
    @media only screen and (min-width: $md){
        margin-top: 3rem;
    }
    @media only screen and (min-width: $lg){
        margin-top: 5rem;
    }
}

.fest-image {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    position: relative;
    @media only screen and (min-width: $md){
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    @media only screen and (min-width: $lg){
        -ms-flex: 0 0 23%;
        flex: 0 0 23%;
        max-width: 23%;
    }
}


.fest-image--bottom {
    margin-top: 1rem;
    @media only screen and (max-width:$md){
        margin-top: .75rem;
    }
    @media only screen and (min-width:$lg){
        margin-top: 7rem;
    }
}

.img-padding {
    padding: 0 15px;
}

.food-image {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 2rem;
    position: relative;
    @media only screen and (min-width: $lg){
        -ms-flex: 0 0 31%;
        flex: 0 0 31%;
        max-width: 31%;
        margin-top: 4.5rem;
    }
}

.misc-image {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    margin-top: 2rem;
    position: relative;
}

.fest-image img, .food-image img, .misc-image img, .place-image img {
    border-radius: 6px;
}

.fest-image:hover, .food-image:hover, .misc-image:hover, .place-image:hover {
    border-radius: 6px;
    opacity: 0.5;
}


.place-container {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    position: relative;
    flex-grow: 1;
    @media only screen and (min-width: $md){
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    @media only screen and (min-width: $lg){
        -ms-flex: 0 0 18%;
        flex: 0 0 18%;
        max-width: 18%;
    }
}
