
.fest-image {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
    margin-top: 7rem;
    position: relative;
}

.img-padding {
    padding: 0 15px;
}

.food-image--drink {
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    margin-top: 7rem;
    position: relative;
}

.food-image--food {
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
    margin-top: 6rem;
    position: relative;
}

.table-image {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 5rem;
    position: relative;
}

.place-image {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
    position: relative;
    flex-grow: 1;
}