.landing-flowers {
    z-index: -2;
    height: 500px;
    width: 1000px;
    position: absolute;
}

.landing-title {
    font-family: "Oswald", sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin-top: 16rem;
}

.landing-title2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin-top: 2rem;
}

.landing-title3 {
    position: relative;
    background: #fff;
    line-height: 24px;

}

.landing-title3--margin {
    margin-top: 7.25rem;
}

.header-mt {
    margin-top: 7.25rem;
}

.header-col-1 {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    margin-right: 1rem;
}

.header-col-2 {
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
}

.header-mb {
    margin-bottom: 7rem;
}

.landing-header__one {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 2rem;
}

.landing-header--description {
    margin-top: 1rem;
    line-height: 24px;
}

.landing-header__two {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 3rem;
    letter-spacing: 0.08em;
}

.landing-header__two--description {
    line-height: 24px;
    margin-top: 1.6rem;
}

.landing-recipes {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: right;
    letter-spacing: 0.1em;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 8.5rem;
}

.fest-header {
    position: absolute; 
    top: 10px; 
    left: 0; 
    width: 100%; 
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.food-header {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding-left: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.food-header--drink {
    position: absolute; 
    top: 190px; 
    left: 0; 
    width: 100%; 
}

.food-header--food {
    position: absolute; 
    top: 16px; 
    left: 0; 
    width: 100%; 
}

.place-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.landing-festivities--header {
    margin: 4rem 0;
}

.landing-category--col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.landing-category--dotted {
    border-bottom: 1px dotted;
    letter-spacing: 0.12rem;
}

.landing-category--first {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    padding: 0 1rem 0 0;
    background: #fff;
}

.landing-category--second {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    padding: 0 1rem 0 0;
    background: #fff;
}

.landing-category--third {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    padding: 0 1rem 0 1rem;
    background: #fff;
    right: 1rem;
}

.landing-category--fourth {
    font-family: "Lato";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    background: #fff;
    padding-left: 1rem;
}

.leader--first {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 24px;
        width: 78%;
        height: 1px;
        background: rgba(0,0,0,0.2);
        right: -240px;
    }
}


.leader--second {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        width: 110%;
        height: 1px;
        background: rgba(0,0,0,0.2);
        left: 10%;
    }
}

.leader--third {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        width: 170%;
        height: 1px;
        background: rgba(0,0,0,0.2);
        left: -50%;
    }
}

.leader--fourth {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        width: 100%;
        height: 1px;
        background: rgba(0,0,0,0.2);
        left: -20%;
    }
}

// Interactions

.box {
    transition: box-shadow .3s;
    border-radius:10px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.5rem;
    background: #fff;
}

.box:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.fest-image--box {
    transition: box-shadow .3s;
}

.fest-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.food-image--box {
    transition: box-shadow .3s;
}

.food-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}


