.landing-title {
    font-family: "Oswald", sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin-top: 14rem;
}

.landing-title2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;

    margin-top: 2rem;
}

.landing-title3 {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 300;

    margin-top: 4rem;
}

