$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.landing-flowers {
        z-index: -2;
        position: absolute;
        width: 375px; 
        height: 800px;
        @media only screen and (min-width: $md){
            width: 768px;
            height: 800px;
        }
        @media only screen and (min-width: $lg){
            width: 992px;
            height: 1000px;
        }
        @media only screen and (min-width: $xl){
            width: 1200px;
            height: 1200px;
        }
}

.landing-title {
    font-family: "Oswald", sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin-top: 16rem;
    padding-left: 0;
}

.landing-title2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin-top: 2rem;
}

.landing-title3 {
    position: relative;
    background: #fff;
    line-height: 24px;
}

.landing-title3--margin {
    margin-top: 2rem;
    @media only screen and (min-width: $lg){
        margin-top: 7.25rem;
    }
}

.landing-title3--break {
    @media only screen and (max-width: $md){
        display: none;
    }
}

.header-mt {
    margin-top: 6rem;
    @media only screen and (min-width: $md){
        margin-top: 8rem;
    }
    @media only screen and (min-width: $lg){
        margin-top: 7.25rem;
    }
}

.header-col-1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    @media only screen and (min-width: $lg){
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    margin-right: 1rem;
    }
}

.header-col-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1rem;
    @media only screen and (min-width: $md){
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        margin-top: 0;
    }
    @media only screen and (min-width: $lg){
        -ms-flex: 0 0 31%;
        flex: 0 0 31%;
        max-width: 31%;
        margin-left: 0;
        margin-top: 0;
    }
}

.header-mb {
    margin-bottom: 6rem;
    @media only screen and (min-width: $lg){
        margin-bottom: 7rem;
    }
}

.header-mb--media {
    @media only screen and (min-width: $lg){
        margin-bottom: 5.5rem;
    }
}

.landing-header__one {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 2rem;
}

.landing-media {
    margin-left: -1.25rem;
}

.landing-header--description {
    margin-top: 1rem;
    line-height: 24px;
    @media only screen and (min-width: $md){
        margin-bottom: 4rem;
    }
    @media only screen and (min-width: $lg){
        margin-bottom: 0;
    }
}

.landing-header__two {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 3rem;
    letter-spacing: 0.08em;
    padding-left: .5rem;
    @media only screen and (min-width: $lg){
        padding-left: 0;
    }
}

.landing-header__two--description {
    line-height: 24px;
    margin-top: 1.6rem;
    padding-left: .5rem;
    @media only screen and (min-width: $lg){
        padding-left: 0;
    }
}

.landing-recipes {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @media only screen and (min-width: $lg){
        margin-bottom: 6.75rem;
        text-align: right;
        padding-left: 0;
    }
}

.fest-header {
    position: absolute; 
    top: 10px; 
    left: 0; 
    width: 100%; 
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    @media only screen and (min-width: $md){
        font-size: 32px;
    }
}

.food-header {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: white;
    padding-left: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    @media only screen and (min-width: $md){
        font-size: 32px;
    }
}

.food-header--drink {
    position: absolute; 
    top: 145px; 
    width: 100%;
    @media only screen and (min-width: $lg){
        top: 220px; 
        left: 0; 
    }
}

.food-header--food {
    position: absolute; 
    top: 16px; 
    left: 0; 
    width: 100%; 
}

.place-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.landing-festivities--header {
    margin: 2rem 0;
    @media only screen and (min-width: $lg){
        margin: 4rem 0;
    }
}

.landing-category--col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.landing-category--dotted {
    border-bottom: 1px dotted;
    letter-spacing: 0.12rem;
}

.landing-category--first {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    padding: 0 1rem 0 0;
    background: #fff;
}

.landing-category--second {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    padding: 0 1rem 0 0;
    background: #fff;
}

.landing-category--third {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    padding: 0 1rem 0 1rem;
    background: #fff;
    right: 1rem;
}

.landing-category--fourth {
    font-family: "Lato";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    background: #fff;
    @media only screen and (min-width: $lg){
        padding-left: 1rem;
    }
}

.table-header {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.08em;
}

.leader--first {

    @media only screen and (max-width: $md){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 7.5rem;
            width: 100%;
            height: 0.5px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 24px;
            width: 50%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            right: -10px;
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 24px;
            width: 82%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            right: -255px;
        }
    }
}


.leader--third {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        width: 95%;
        height: 0.5px;
        background: rgba(0,0,0,0.2);
    }
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            width: 98%;
            height: 1px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            width: 170%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            left: -50%;
        }
    }
}

.leader--fourth {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        width: 95%;
        height: 0.5px;
        background: rgba(0,0,0,0.2);
    }
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            width: 98%;
            height: 1px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            width: 170%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            left: -50%;
        }
    }
}

.leader--fifth {
    @media only screen and (min-width: $md){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            width: 95%;
            height: 0.5px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 7px;
            width: 98%;
            height: 1px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 7px;
            width: 100%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            left: -20%;
        }
    }
}

.leader--sixth {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        width: 95%;
        height: 1px;
        background: rgba(0,0,0,0.2);
    }
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 9px;
            width: 98%;
            height: 1px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 9px;
            width: 170%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            left: -50%;
        }
    }
}

.leader--seventh {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        width: 95%;
        height: 0.5px;
        background: rgba(0,0,0,0.2);
    }
    @media only screen and (min-width: $lg){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            width: 98%;
            height: 1px;
            background: rgba(0,0,0,0.2);
        }
    }
    @media only screen and (min-width: $xl){
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            width: 170%;
            height: 1px;
            background: rgba(0,0,0,0.2);
            left: -50%;
        }
    }
}

// Hover effects

.box {
    transition: box-shadow .3s;
    border-radius:10px;
    background: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    @media only screen and (max-width: $md){
        box-shadow: 0 0 8px rgba(33,33,33,.2); 
    }
    @media only screen and (min-width:$lg){
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.5rem;
    }
}

.box:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.table-box {
    transition: box-shadow .3s;
    border-radius:10px;
    padding-top: 3rem;
    background: #fff;
    padding-left: 1rem;
    padding-bottom: 1rem;
    @media only screen and (max-width: $md){
        box-shadow: 0 0 8px rgba(33,33,33,.2); 
        margin-bottom: 2rem;
    }
    @media only screen and (min-width: $lg){
        margin-top: -1rem;
        margin-left: -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 2rem;
    }
}

.table-box:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.fest-image--box {
    transition: box-shadow .3s;
}

.fest-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.food-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.place-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

// Loading-animations

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes slide-in-top {
0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
}
100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
}

.slide-in-bottom--1 {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom--2 {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.2s;
}

.slide-in-bottom--3 {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.4s;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
