$nav-spacing: 8rem;

nav {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}

.nav-top {
    position: sticky;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.nav-item {
    text-transform: uppercase;
    display: flex;
    letter-spacing: 0.15em;
}

.nav-item--center {
    font-weight: 700;
    text-decoration: none;
}

.nav-item--left {
    margin-right: $nav-spacing;
}

.nav-item--right {
    margin-left: $nav-spacing;
}