$nav-spacing: 8rem;

nav {
    font-weight: 300;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
    transition: top 0.4s;
}

.nav-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.nav-space {
    margin-top: 3rem;
}

.nav-item {
    display: flex;
    letter-spacing: 0.05em;
}

.nav-item--center {
    font-weight: 700;
    text-decoration: none;
}

.nav-item--left {
    margin-right: $nav-spacing;
}

.nav-item--right {
    margin-left: $nav-spacing;
}

.nav-dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.nav-dropdown--parent:hover > .nav-item,
.nav-dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-dropdown--item {
  clear: both;
  width: 100%;
}

.nav-dropdown--parent, .nav-dropdown--item {
    display: block;
    transition-duration: 0.5s;
}